.marqueeContainer {
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap-m);
    width: 100%;
    mask-image: linear-gradient(
        to right,
        transparent,
        black 10%,
        black 90%,
        transparent
    );
}

.marqueeContent {
    flex-shrink: 0;
    display: flex;
    gap: var(--gap-xl);
    min-width: 100%;
    animation: scroll var(--marquee-duration) linear infinite;
    animation-direction: var(--marquee-direction);
    padding-right: var(--gap-xl); /* Ensure gap between duplicates */
}

.pauseOnHover:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
